.form {
    padding: 20px;
}
.form__fieldset {
    padding: 30px;
    background-color:hsl(0, 0%, 95%);
    border-radius: 2%;
    box-shadow: 5px -5px 28px -16px khaki;
}
.form__legend {
    border: 2px solid hsl(54, 77%, 55%);
    background-color: hsl(54, 77%, 80%);
    padding: 10px;
    border-radius: 10%;
    font-weight: 700;
}
.form__label {
    font-weight: 700;
}
.form__button {
    border-radius: 10%;
    padding: 10px;
    max-width: 100px;
    font-weight: 700;
    width: 125px;
    max-width: 1000px;
    background-color: hsl(54, 77%, 80%);
    border: 2px solid hsl(54, 77%, 55%);
}
.form__input {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    font-weight: 700;
    background-color:hsl(0, 0%, 90%);
    border: 1px solid black;   
}
.form__labelText {
    width: 180px;
    display: inline-block;
    margin-right: 5px;
}
